{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">The passion for football unites the world</p>
            </div>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie in justo vitae feugiat. Nullam ante tellus, placerat ac diam sed, eleifend tempor lectus. Duis nec lorem at lectus auctor imperdiet. Sed tincidunt maximus erat in porttitor. Phasellus tempor at metus consectetur imperdiet. Quisque neque lacus, pharetra in lectus vitae, semper placerat est. Suspendisse faucibus nisi mattis eleifend porttitor. In eget lectus id felis luctus posuere id vestibulum quam. Proin libero lectus, consequat ac tellus finibus, molestie volutpat erat.
                            <br><br>
                            Nulla facilisi. Suspendisse in pretium justo. Suspendisse feugiat egestas sem, sed fringilla nisl gravida et. Donec arcu quam, pharetra ac pellentesque id, vehicula vel nibh. Morbi semper quam quis diam congue, sed sagittis augue ornare. Vivamus eleifend turpis ac massa tempus dictum. Sed facilisis purus sed gravida blandit. Maecenas lacinia id velit eget mollis. Proin vestibulum nibh sed ultricies pretium. Ut neque tellus, feugiat et rutrum faucibus, aliquam non libero. Duis laoreet tincidunt risus et lobortis.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie in justo vitae feugiat. Nullam ante tellus, placerat ac diam sed, eleifend tempor lectus. Duis nec lorem at lectus auctor imperdiet. Sed tincidunt maximus erat in porttitor. Phasellus tempor at metus consectetur imperdiet. Quisque neque lacus, pharetra in lectus vitae, semper placerat est. Suspendisse faucibus nisi mattis eleifend porttitor. In eget lectus id felis luctus posuere id vestibulum quam. Proin libero lectus, consequat ac tellus finibus, molestie volutpat erat.
                            <br><br>
                            Nulla facilisi. Suspendisse in pretium justo. Suspendisse feugiat egestas sem, sed fringilla nisl gravida et. Donec arcu quam, pharetra ac pellentesque id, vehicula vel nibh. Morbi semper quam quis diam congue, sed sagittis augue ornare. Vivamus eleifend turpis ac massa tempus dictum. Sed facilisis purus sed gravida blandit. Maecenas lacinia id velit eget mollis. Proin vestibulum nibh sed ultricies pretium. Ut neque tellus, feugiat et rutrum faucibus, aliquam non libero. Duis laoreet tincidunt risus et lobortis.
                        </p>
                    </div>
            </div>

        </div>
    </section>

{% endblock %}